# Import Libraries

In [1]:
import pandas as pd

# Load Extracted Youtube Comments

In [2]:
df_episode_1 = pd.read_csv('dataset/coc_ruangguru_episode_1.csv')
df_episode_2 = pd.read_csv('dataset/coc_ruangguru_episode_2.csv')

In [3]:
df_episode_1

                                                Comment
0       Ayo Indonesian kerennnnnnnn, indonesia kerennnn
1                  mantap..Pengen kuliah tpi ga sempatğŸ˜¢
2                           Banyakin tayangan begini ğŸ”¥ğŸ”¥
3         Kumpulan Anak2 kebanggaan orang tuanya.hahaha
4     Aku bukan orangtua mereka tp ikut bangga aja l...
...                                                 ...
9400                 Cepetan dong min , ga sabarrrrr â¤â¤
9401                                         Letâ€™s gooo
9402                                   INI SEKARANG KAN
9403                       Gak sabar nggu besokk yaa...
9404                                                Wow

[9405 rows x 1 columns]

In [4]:
df_episode_2

                                                Comment
0                                   Episode 3 di tunggu
1                                     Lagi nunggu eps 3
2     Kereen banget acara nya , semoga makin banyak ...
3                                   Kapan episode 3 min
4                                          Keren banget
...                                                 ...
8129                               yahh 30 lnjtnny ya??
8130                                 can&#39;t waitttyy
8131                                         Besok kah?
8132                                                ğŸ˜ŠğŸ˜ŠğŸ˜Š
8133                                             yeyyyy

[8134 rows x 1 columns]

Total ada +-17.000 comment yang berhasil discraping dari Youtube Video **Clash of Champions"** yang dibuat oleh **Ruang Guru** yang sedang hype. Kita bisa melihat atensi dan sentimen masyarakat terkait video entertainment ini sehingga pihak Ruang Guru dapat menggunakan informasi yang diperoleh untuk marketing mereka

- Comment dari pengguna banyak menggunakan emotikon yang dapat memberikan dampak polaritas (positif atau negatif) pada komen tersebut, sehingga pada tahap preprocessing kita tidak menghilangkannya namun mempertahankannya. Emotikon tersebut nantinya pada tahap fitur engineering dapat berguna dalam memberikan skor polaritas positif dan negatif dalam proses pelabelannya dengan memanfaatkan emoji lexicon pihak ketiga
- Ada simbol-simbol lain, special characters, dan punctuation yang mesti dihilangkan

# Merged and Save the dataset

In [7]:
df_all_comments = pd.concat([df_episode_1,df_episode_2], axis=0)
df_all_comments.reset_index(drop=True, inplace=True)

In [8]:
df_all_comments

                                                 Comment
0        Ayo Indonesian kerennnnnnnn, indonesia kerennnn
1                   mantap..Pengen kuliah tpi ga sempatğŸ˜¢
2                            Banyakin tayangan begini ğŸ”¥ğŸ”¥
3          Kumpulan Anak2 kebanggaan orang tuanya.hahaha
4      Aku bukan orangtua mereka tp ikut bangga aja l...
...                                                  ...
17534                               yahh 30 lnjtnny ya??
17535                                 can&#39;t waitttyy
17536                                         Besok kah?
17537                                                ğŸ˜ŠğŸ˜ŠğŸ˜Š
17538                                             yeyyyy

[17539 rows x 1 columns]

In [9]:
df_all_comments.to_csv('dataset/coc_ruangguru_all_episodes.csv', index=False)